name: build-and-test-crossplatform
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v**'
  pull_request:
    branches: [master]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8]
    runs-on: ${{ matrix.os }}
    steps:
      # to allow githoub to checkout our repository and access it for testing
      - uses: actions/checkout@v2
      
      # build the container with python version
      - name: Build using Python ${{matrix.python-version}}
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}

      - name: install dependencies [pip]
        run: |
          python -m pip install pip --upgrade pip
          python -m pip install pytest
          pip install -e .

      - name: run unit tests [pytest]
        run: python -m pytest

